# Ambiente virtual
.venv/

# Dados fornecidos para o teste
data/

# Arquivo auxiliar feito por mim
FIEMG-LayoutsValidations-v1.xlsx
FIEMG-LayoutsValidations-v1.url

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Arquivos de ambiente
.env
.env.*

# VS Code
.vscode/